:root {
  --font-heading: Open Sans;
  --font-body: Open Sans;
  --space-1: 1.5px;
  --space-2: 3px;
  --space-3: 4px;
  --space-4: 5px;
  --space-5: 6px;
  --space-6: 7.5px;
  --space-7: 8px;
  --space-8: 10px;
  --space-9: 11px;
  --space-10: 12px;
  --space-11: 15px;
  --space-12: 20px;
  --space-13: 23px;
  --space-14: 25px;
  --space-15: 28px;
  --space-16: 30px;
  --space-17: 40px;
  --space-18: 47px;
  --space-19: 50px;
  --space-20: 100px;
}
